<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/confirmation.css">
    <title>Confirmação</title>
</head>
<body>
    <div class="conteiner">    
        <h1>Obrigado, {{ name }}!</h1>
        <p>Sua mensagem sobre "{{ subject }}" foi recebida com sucesso. Entraremos em contato em breve!</p>
    <a href="/">Voltar ao formulário</a>
</div>

</body>
</html>

