<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlueWave</title>
    <link rel="stylesheet" href="/static/css/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #131313">
    <header class="header">
      <nav>
        <a href="#home">
          <img
            class="logo"
            src="/static/assets/logo_dark.png"
            alt="logo_dark"
            width="70px"
          />
          <h1>BlueWave</h1></a
        >
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#galeria">Galaria</a></li>
          <li><a href="#mapa">Mapa</a></li>
          <li><a href="#missoes">Missões</a></li>
          <li><a href="#doacao">Doações</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </header>

    <div class="banner" id="home">
      <img src="/static/assets/banner.png" width="100% " height="500px" />
    </div>

    <section class="about" id="sobre">
      <h1>BlueWave</h1>
      <div class="textos">
        <p>
          Somos uma equipe dedicada a preservar, educar e proteger os
          <span class="destaque"> oceanos</span> que cobrem grande parte do
          nosso planeta. Nosso trabalho vai além da simples conscientização:
          buscamos transformar a maneira como as pessoas se relacionam com o
          mar, entendendo a importância de sua conservação e a urgência de ações
          para mantê-lo saudável. Através de programas educativos, eventos de
          conscientização e projetos de preservação, nosso objetivo é conectar
          as pessoas com a imensidão e a beleza dos oceanos, ao mesmo tempo em
          que mostramos como todos podemos contribuir para evitar a poluição e
          os danos ambientais. Acreditamos que, com o esforço conjunto de
          indivíduos, comunidades e organizações, podemos reverter os efeitos
          negativos causados pela ação humana. Cada onda que quebramos, cada
          ação que tomamos, é um passo para garantir que as futuras gerações
          possam desfrutar de mares limpos e vibrantes, cheios de vida. Junte-se
          a nós nesta missão vital de cuidar do nosso maior bem natural!
        </p>
      </div>
    </section>
    <section id="galeria" class="galeria" style="background-color: #003366">
      <h1>Galeria</h1>
      <ul>
        <li>
          <div class="card" style="width: 18rem " >
            <img src="/static/assets/card1.jpg" class="card-img-top" height="200rem" />
            <div class="card-body">
              <p class="card-text">O oceano é um vasto e misterioso mundo, onde as cores do azul e verde se misturam em uma harmonia única. Suas águas cristalinas não só proporcionam um refúgio para milhares de espécies marinhas, mas também são uma fonte vital para a nossa sobrevivência. Cada onda carrega consigo histórias de ecossistemas delicados que merecem nossa atenção e cuidado. Proteger o oceano é proteger a vida.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width: 18rem">
            <img src="/static/assets/card3.jpg" class="card-img-top" height="200rem" />
            <div class="card-body">
              <p class="card-text">"Nos recifes de corais e nas profundezas do oceano, uma diversidade impressionante de vida marinha se desenvolve. Peixes coloridos, corais vibrantes, e criaturas misteriosas coexistem em um ecossistema perfeitamente equilibrado. Mas essas maravilhas estão ameaçadas pela poluição e pela mudança climática. A preservação desses habitats subaquáticos é fundamental para garantir a saúde do planeta."</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width: 18rem">
            <img src="/static/assets/card2.jpg" class="card-img-top" height="200rem" />
            <div class="card-body">
              <p class="card-text">"O oceano desempenha um papel crucial na regulação do clima global. Suas correntes transportam calor e umidade por todo o planeta, influenciando padrões climáticos e ajudando a moderar as temperaturas. O mar também atua como um gigantesco regulador de carbono, absorvendo grandes quantidades de CO2. Proteger os oceanos é, portanto, uma ação essencial para combater as mudanças climáticas e garantir um futuro sustentável." </p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="map" id="mapa">
        <h1>Localização </h1>
        <h3>Areas protegidas </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.0242198527767!2d-47.90198339035993!3d-15.80267688477564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3aea806d74eb%3A0x139eddc3c7f58173!2sUDF%20-%20Centro%20Universit%C3%A1rio%20-%20Campus%20Sede!5e0!3m2!1spt-BR!2sbr!4v1731700644654!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="missao" id="missoes" style="background-color: #003366">
        <h1>Missões para ajudar</h1>
        <form action="/calculo" method="POST">
        <ul>
            <li>
                <div class="card">
                    <h5 class="card-header">Limpeza de Praias 100pts.</h5>
                    <div class="card-body">
                      <h5 class="card-title">Descrição: Organize ou participe de mutirões para limpeza de praias e áreas costeiras. Recolher lixo marinho é essencial para evitar que plásticos e outros resíduos poluam o oceano, prejudicando a fauna e flora marinha.</h5>
                      <p class="card-text">Objetivo: Remover ao menos 50 kg de resíduos de plástico da praia em um dia de atividade.</p>
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" name="checkbox" id="btncheck1" value="100">
                        <label class="btn btn-outline-primary" for="btncheck1">Cumprir Missão</label>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card">
                    <h5 class="card-header"> Educar sobre o Impacto da Poluição Marinha 90pts.</h5>
                    <div class="card-body">
                      <h5 class="card-title">Descrição: Realize workshops, palestras ou campanhas educativas sobre como a poluição afeta os oceanos e as criaturas marinhas. Use mídias sociais para divulgar informações sobre a importância de reduzir, reutilizar e reciclar, assim como a conscientização sobre o uso responsável de plásticos.</h5>
                      <p class="card-text">Objetivo: Engajar pelo menos 100 pessoas em um evento educativo e aumentar a conscientização sobre o impacto da poluição marinha.</p>
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" name="checkbox" id="btncheck2" autocomplete="off" value="90">
                        <label class="btn btn-outline-primary" for="btncheck2">Cumprir Missão</label>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card">
                    <h5 class="card-header">Reduzir o Uso de Plásticos 60pts.</h5>
                    <div class="card-body">
                      <h5 class="card-title">Descrição: Um passo simples, mas vital, é reduzir o uso de plásticos descartáveis, como garrafas, sacolas e utensílios. Ao diminuir o consumo desses produtos, você ajuda a reduzir a quantidade de lixo que chega ao oceano.</h5>
                      <p class="card-text">Objetivo: Eliminar pelo menos 80% do uso de plásticos descartáveis na sua rotina e engajar 20 pessoas para fazerem o mesmo.</p>
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" name="checkbox" id="btncheck3"  value="60">
                        <label class="btn btn-outline-primary" for="btncheck3">Cumprir Missão</label>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
              
                <div class="card">
                    <h5 class="card-header"> Adote uma Área Marinha Local 80pts.</h5>
                    <div class="card-body">
                      <h5 class="card-title">Descrição: Faça a diferença em uma área marinha específica, como um recife de coral ou uma zona costeira, promovendo ações de conservação e monitoramento ambiental. Acompanhe a saúde do ecossistema local e reporte sobre as mudanças.</h5>
                      <p class="card-text">Objetivo: Monitorar e registrar mudanças na área ao longo de 6 meses, identificando áreas que precisam de cuidados especiais.</p>
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" name="checkbox" id="btncheck4"  value="80">
                        <label class="btn btn-outline-primary" for="btncheck4">Cumprir Missão</label>
                      </div>
                      
                    </div>
                  </div>
            </li>
            <li>
              <h3>Ganhe Pontos e troque por Premios</h3>
              <button type="submit" class="btn-custom" id="bnt_cal" >Calcular pontos</button>
            </li>
        </ul>
      </form>
    </section>
    
    <section id="doacao">
      <div class="donation-container">
        <h1>Faça uma Doação</h1>
        <p>Sua doação ajuda a apoiar nossa causa. Escolha um valor ou insira um personalizado.</p>
        
        <form action="/donate" method="POST" class="donation-form">
            <div class="donation-options">
                <label>
                    <input type="radio" name="amount" value="25">
                    R$ 25
                </label>
                <label>
                    <input type="radio" name="amount" value="50">
                    R$ 50
                </label>
                <label>
                    <input type="radio" name="amount" value="100">
                    R$ 100
                </label>
                <label>
                    Outro valor:
                    <input type="radio" name="amount" value="other" id="custom-radio">   
                </label>
                <input type="number" name="customAmount" id="custom-amount" placeholder="Digite o valor" min="1">
            </div>

            <button type="submit">Doar</button>
        </form>
    </div>

    </section>

  <section id="contato">
    <div class="container">
      <h1>Entre em Contato</h1>
      <form action="/submit" method="POST">
          <label for="name">Nome:</label>
          <input type="text" id="name" name="name" placeholder="Seu nome" required>

          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="Seu e-mail" required>

          <label for="subject">Assunto:</label>
          <input type="text" id="subject" name="subject" placeholder="Assunto da mensagem" required>

          <label for="message">Mensagem:</label>
          <textarea id="message" name="message" rows="5" placeholder="Escreva sua mensagem aqui" required></textarea>

          <button type="submit">Enviar</button>
      </form>
  </div>
  </section>

  <footer></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
